
// Colors

$primary-color: #F05837;
$primary-color-light: #FDEEEB;
$primary-color-dark: #e33611;
$primary-text-color: #133452;
$disabled-color: #ACACAC;
$disabled-color-light: #F7F7F7;
$priority-color-red: #F93822;
$priority-color-red-light: #FEEBE9;
$priority-color-yellow: #FDD20E;
$priority-color-yellow-light: #FFFBE7;
$priority-color-green: rgb(97, 156, 123);
$priority-color-green-light: #EAF7F0;


// Weights
$bold: 500;
$normal: 400;