@font-face {
	font-family: 'Futura PT';
	src: url('../assets/fonts/FuturaPT-Demi.woff') format('woff'),
		 url('../assets/fonts/FuturaPT-Book.woff') format('woff');
}
@import './vars';
@import './aside';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura PT';
}

button {
    border: none;
    outline: none;
}
a {
    text-decoration: none;
}
p {
    font-size: 17px;
}
li {
    list-style: none;
}
.content {
    display: flex;
}
.container {
    height: 100%;
}
main {
    width: 100%;
}
.search-bar {
    max-width: 100%;
    position: relative;
    &__input {
        outline: none;
        width: 100%;
        padding: 15px;
        background: $primary-color-light;
        border: 1px solid transparent;
        font-size: 19px;
        color: $primary-text-color;
        &::placeholder {
            color: $primary-color;
            font-size: 18px;
            font-weight: $normal;
        }
        &:focus {
            background: transparent;
        }
    }
}
.wrapper-flex {
    display: flex;
    background: $primary-color-light;
    min-height: calc(100% - 57px);
	overflow:hidden;
	position: relative;
}
.todo-details {
	max-width: 340px;
	height: 100%;
    background: #fff;
    padding: 38px 30px;
    margin-left: 30px;
	position: absolute;
	right: -100vw;
	transition: all 200ms ease-in-out;
	&--mobile-active {
		height: 100%;
		position: absolute;
		right: 0;
		z-index:9999;
	}
    &__top {
		max-width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__heading {
        font-size: 20px;
        font-weight: $bold;
        color: $primary-text-color;
		flex-grow: 1;
		max-width: 50%;
		word-wrap: break-word;
    }
    &__content {
        margin-top: 30px;       
    }
    .form-group {
        margin-bottom: 25px;
        &__label {
            font-size: 18px;
            color: $primary-text-color;
            display: block;
            font-weight: $bold;
            margin-bottom: 10px;
        }
        &__input, &__textarea {
            padding: 10px 8px;
            font-size: 18px;
            width: 100%;
            border-radius: 6px;
            border:1px solid transparent;
            outline: none;
            color: $primary-text-color;
            &:hover {
                border-color: $disabled-color;
            }
        }
        &__textarea {
            height: 100px;
            resize: none;
        }
    }

}
.todos {
    background: #fff;
    padding: 38px 30px;
    width: 100%;
	height: calc(100vh - 57px);
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__heading {
        font-size: 24px;
        font-weight: $bold;
        color: $primary-color;
    }
    &__cta {
        padding: 5px 15px;
        color: #fff;
        background: $primary-color;
        font-weight: $bold;
        font-size: 16px;
        cursor: pointer;
        border-radius: 6px;
        &:hover {
            background: $primary-color-dark;
        }
    }
    &__list {
        margin-top: 25px;
    }
    &__list-item {
        box-shadow: 0 3px 15px rgba($color: #000000, $alpha: 0.07);
        display: flex;
        align-items: center;
        padding: 20px 15px;
        color: $primary-text-color;
        width: 100%;
        cursor: pointer;
        margin-bottom: 25px;
		border-radius: 6px;
		border: 1px solid transparent;
		transition: all 200ms ease-in-out;
		&:hover {
			border-color: $disabled-color;
			box-shadow: none;
		}
		&.selected {
			border-color: $disabled-color;
			box-shadow: none;
			
		}
        .high-priority {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            border: 2px solid $priority-color-red;
            background: $priority-color-red-light;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content:center;
        }
        .medium-priority {
            @extend .high-priority;
            border-color: $priority-color-yellow;
                background: $priority-color-yellow-light;
            }
            .low-priority {
                @extend .high-priority;
                border-color: $priority-color-green;
                background: $priority-color-green-light;
            } 
        }
        &__list-details {
            display: flex;
            flex-direction: column;
            margin-left: 15px;
			pointer-events: none;
			width: 65%;
        }
        &__list-title {
            font-size: 20px;
            font-weight: $bold;
			word-wrap: break-word;
        }
        &__list-date {
            font-size: 16px;
        }
        &__list-actions {
            margin-left: auto;
        }
        &__action-mark, &__action-delete {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: $priority-color-yellow;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            cursor: pointer;
            font-size: 26px;
			i {
				pointer-events: none;
			}
            &:hover {
                background: $priority-color-yellow-light;
        }
    }
    &__action-delete {
        color: $priority-color-red;
        margin-left: 15px;
        &:hover {
            background: $priority-color-red-light;
        }
    }
}

.addTodoFormContainer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transform: translateY(-300px);
    opacity: 0;
    transition: all 200ms ease-in-out;
    pointer-events: none;
}
.form-active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}
.form-wrapper {
    width: 420px;
    padding: 25px 20px;
    background: #fff;
    border-radius: 6px;
    position: relative;
}
.addTodoForm {
    display: flex;
    flex-direction: column;
    &__heading {
        font-size: 24px;
        font-weight: $bold;
        text-align: center;
        margin-bottom: 25px;
        color: $primary-text-color;
    }
    &__close {
        position: absolute;
        right: 20px;
        top: 25px;
        cursor: pointer;
        display: block;
        color: $primary-text-color;
        font-size: 24px;
    }

    &__group {
        position: relative;
        margin-bottom: 25px;
        &__heading {
            display: block;
            font-size: 17px;
            font-weight: $bold;
            color: $primary-text-color;
            margin-bottom: 10px;
        }
    }
    &__input, &__textarea {
        width: 100%;
        padding: 10px 8px;
        font-size: 18px;
        color: $primary-text-color;
        background: $primary-color-light;
        outline: none;
        border: 1px solid transparent;
        border-radius: 6px;
        &:not(:placeholder-shown) {
            background: transparent;
            border-color: $primary-color;
        }
        &:not(:placeholder-shown) + .addTodoForm__label--floating,
        &:focus + .addTodoForm__label--floating {
            top: -18px;
            left: 0;
            font-size: 94%;   
        }
    }
    &__textarea {
        height: 100px;
        resize: none;
    }
    &__radio {
        display: none;
        &--high:checked + .addTodoForm__radio-label {
            background: $priority-color-red-light;
            border: 1px solid $priority-color-red;
            color: $priority-color-red;
        }
        &--medium:checked + .addTodoForm__radio-label {
            background: $priority-color-yellow-light;
            border: 1px solid $priority-color-yellow;
            color: $priority-color-yellow;
        }
        &--low:checked + .addTodoForm__radio-label {
            background: $priority-color-green-light;
            border: 1px solid $priority-color-green;
            color: $priority-color-green;  
        }
    }
    &__radio-label {
        display: inline-block;
        font-size: 17px;
        font-weight: $bold;
        padding: 10px 30px;
        border-radius: 6px;
        cursor: pointer;
        margin-right: 10px;
        background: $disabled-color-light;
        border: 1px solid $disabled-color;
        color: $disabled-color;
        &:last-child {
            margin-right: 0;
        }
        &--sm {
            padding: 10px 20px; 
        }
    }
    &__label--floating {
        font-size: 17px;
        font-weight: $bold;
        position: absolute;
        color: $primary-color;
        left: 12px;
        top: 14px;
        transition: all 100ms ease-in-out;
        pointer-events: none;
    }
    &__cta {
        padding: 10px 30px;
        background: $primary-color;
        font-weight: $bold;
        color: #fff;
        align-self: flex-end;
        border-radius: 6px;
        cursor: pointer;
        font-size: 17px;
    }
}

.line-through {
    text-decoration: line-through;
    animation: lineAnimation 300ms ease-in-out;
    opacity: 0.5;
}

.completed {
    background: #00B1D2 !important;
    color: #fff;
    font-size: 20px;
    border-color: #00B1D2 !important;
    border-radius: 50%;         
	&:before {
		content: '\F012C';
		font-family: 'Material Design Icons';
	}
}
.marked {
	&:before {
		content: '\F04CE';
		font-family: 'Material Design Icons';
		font-style: normal;
	}
}
.unmarked {
	&:before {
		content: '\F04D2';
		font-family: 'Material Design Icons';
		font-style: normal;
	}
}

.modal-container {
    @extend .addTodoFormContainer;
}
.modal-active {
    @extend .form-active;
}
.modal {
    background: #fff;
    width: 300px;
    height: 200px;
    box-shadow: 0 3px 15px rgba($color: #000000, $alpha: 0.07);
    display:flex;
    align-items:center;
    flex-direction: column;
    border-radius: 6px;
    &__emoji {
        font-size: 42px;
        margin-top:25px;
    }
    &__info {
        padding: 20px 35px;
        text-align:center;
        flex-grow: 1;
        font-size: 18px;
    }
    &__actions {
        display: flex;
        width: 100%;
        .question__cta, .ok__cta {
            flex: 1;
            font-size: 16px;
            cursor: pointer;
            font-weight: $bold;
        } 
        .ok__cta {
            padding: 10px;
            background: $primary-color;
            color: #fff;
			border-radius: 0 0 6px 0;
            &:hover {
                background: $primary-color-dark;
            }
        }
        .question__cta {
            color: $primary-text-color;
            background: #fff;
			border-radius: 0 0 0 6px;
            &:hover {
                background: $disabled-color-light;
            }
        }
    }
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.1);
	z-index: 1;
	display: none;
	&--active {
		display: block;
	}
}
@media only screen and (max-width: 768px) {
	.wrapper-flex {
		margin-left: 55px;
	}		
	.search-bar {
		margin-left: 55px;
	}
	.todos {
		padding: 38px 20px;
	}
}
@media only screen and (max-width: 600px) {
	.form-wrapper {
		width: 300px;
	}
	.addTodoForm {
		&__heading {
			font-size: 20px;
		}
		&__radio-label {
			padding: 6px 15px;
			&--sm {
				padding: 6px 10px; 
			}
		}
		&__cta {
			padding: 6px 30px;
		}
	}
	.todos {
		&__action-mark, &__action-delete {
			width: 38px;
			height: 38px;
			font-size: 20px;
		}
		&__action-delete {
			margin-left: 5px;
		}
	}
}
@media only screen and(max-width: 480px) {
	.todo-details {
		width: 260px;
		padding: 38px 15px;
		.form-group {
			&__input, &__textarea {
				padding: 6px;
			}
			&__textarea {
				height: 70px;
			}
		}
	}
	.addTodoForm {
		&__radio-label {
			&--sm {
				font-size: 15px;
				padding: 6px 14px; 
			}
		}
	}
	.wrapper-flex {
		margin-left: 0;
	}		
	.search-bar {
		margin-left: 0;
	}
	.todos {
		padding: 38px 20px;
	}
}
@keyframes lineAnimation {
    from {
        text-decoration-color:transparent;
    }
    to {
        text-decoration-color: auto;
    }
}
